.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #1db954;
  }
  
  .login > img {
    width: auto;
    height: 200px;
  }
  
  .login > a {
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    color: #1db954;
    text-decoration: none;
    background-color: white;
  }